build --@rules_rust//rust/toolchain/channel=nightly-2025-01-01

# Enable rustfmt for all targets in the workspace
# build:rustfmt --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect
# build:rustfmt --output_groups=+rustfmt_checks

# Enable clippy for all targets in the workspace
# build:clippy --aspects=@rules_rust//rust:defs.bzl%rust_clippy_aspect
# build:clippy --output_groups=+clippy_checks
