name: Rust CI

on:
  push:
    branches:
      - main
    paths-ignore:
      - "**/README.md"
  pull_request:
  workflow_dispatch:

env:
  rust_toolchain: nightly
  target: riscv32imac-esp-espidf
  CARGO_TERM_COLOR: always
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  ESP_IDF_VERSION: v5.2.2
  ESP_IDF_SDKCONFIG_DEFAULTS: "${{ github.workspace }}/esp32-projects/sdkconfig.defaults"
  RUSTFLAGS: "--cfg espidf_time64"

jobs:
  rust-checks:
    name: Rust Checks
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        action:
          - name: Fmt Check
            command: fmt
            args: --all -- --check --color always
          - name: Clippy
            command: clippy
            args: --all-features --all-targets --no-deps --workspace -- -D warnings
          - name: Compile
            command: build
            args: --release
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@v4

      - name: Setup | Rust
        uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: ${{ env.rust_toolchain }}
          components: rustfmt, clippy, rust-src

      - name: Setup | Caching
        uses: Swatinem/rust-cache@v2

      - name: Setup | ldproxy
        run: |
          curl -L https://github.com/esp-rs/embuild/releases/latest/download/ldproxy-x86_64-unknown-linux-gnu.zip -o $HOME/.cargo/bin/ldproxy.zip
          unzip "$HOME/.cargo/bin/ldproxy.zip" -d "$HOME/.cargo/bin/"
          chmod a+x $HOME/.cargo/bin/ldproxy

      - name: Build | ${{ matrix.action.name }}
        run: cargo ${{ matrix.action.command }} ${{ matrix.action.args }}
        working-directory: esp32-projects

      # - name: Build | Examples
      #   env:
      #     ESP_IDF_VERSION: ${{ matrix.idf-version }}
      #     ESP_IDF_SDKCONFIG_DEFAULTS: "${{ github.workspace }}/esp32-projects/sdkconfig.defaults"
      #     WIFI_SSID: "ssid"
      #     WIFI_PASS: "pass"
      #     ESP_DEVICE_IP: "192.168.1.250"
      #     GATEWAY_IP: "192.168.1.1"
      #     GATEWAY_NETMASK: "24"
      #   run: cargo build --examples --features experimental --target ${{ matrix.target }}
